body{padding-top:50px;color:#1e1e1e;}
.no-js #loader{display:none;}
.js #loader{display: block;position:absolute;left:100px;top:0;}
.se-pre-con {position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:99999999;background: url("../img/gif-load.gif") center no-repeat #fff;}
a{color:#50004f;}
.affix{top:0px;width:100%;}
.navbar-top,
.navbar-lower{background:#ffffff;z-index:9999999;box-shadow:none;}
.navbar-top{z-index:99999999;}
.navbar-top{margin:-50px 0 0 0;}
.navbar-top .navbar-header{width:100%;padding:18px 0;border-bottom:2px solid #f3f3f3;}
.navbar-lower{margin:-2px 0 0 0;border:0px;}
.navbar-lower .navbar-nav{text-align:center;float:none;}
.navbar-lower .navbar-nav li{float:none;display:inline-block;vertical-align:top;}
.navbar-lower .navbar-nav li a{color:#737373;}
.navbar-lower.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a{background:none;color:#737373;background-image:none;box-shadow:none;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color:#737373;background:none;background-image:none;box-shadow:none;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{color:#737373;background:none;background-image:none;box-shadow:none;}
.navbar-brand{font-family:'Great Vibes', cursive;font-size:3em;}
.navbar-lower-sm .navbar-brand{font-size:2em;position:relative;}
.navbar-lower-sm .navbar-brand:before{top:16px;bottom:0;position:absolute;content:"+";left:50%;margin-left:0px;font-family:'Great Vibes', cursive;font-size:1em;color:#bee4de;}
.navbar-brand-centered{position:relative;left:50%;display:block;width:400px;text-align:center;background-color:transparent;}
.navbar-brand-centered:before{top:16px;bottom:0;position:absolute;content:"+";left:50%;margin-left:0px;font-family:'Great Vibes', cursive;font-size:1em;color:#bee4de;}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered{margin-left:-200px;}
.col-centered{float:none;margin:0 auto;}
.jumbotron{padding:0px;Background:none;text-align:center;position:relative;}
.jumbotron img{width:100%}
.jumbotron.hero span{display:block;width:100%;position:absolute;color:#ffffff;}
.jumbotron.hero span:first-child{font-family:'Great Vibes', cursive;top:32%;text-shadow:1px 1px 3px rgba(8,8,8,.25);}
.jumbotron.hero span{font-family:'Playfair Display', sans-serif;top:60%;text-shadow:1px 1px 2px rgba(8,8,8,.43);}
.jumbotron.proposal .kate,
.jumbotron.proposal .jared{display:block;position:absolute;width:44%;top:37%;}
.jumbotron.proposal .kate{left:0px;text-align:right;}
.jumbotron.proposal .jared{right:0px;text-align:left;}
.jumbotron.proposal p{display:block;font-family:'Quicksand', sans-serif;font-weight:500;margin:0px;margin-top:-4px;color:#ffffff;text-shadow:1px 1px 3px rgba(8,8,8,.75);}
.jumbotron.proposal p:first-child{font-family:'Playfair Display', sans-serif;font-weight:500;margin-top:0px;}
#loveline,
#wedding,
#party,
#registry{padding:40px 0;}
#proposal,
#lodging{padding-bottom:40px;}
section.grey{background:#efefef}
.section-header{font-family:'Quicksand', sans-serif;font-weight:700;font-size:1.4em;letter-spacing:4px;margin-top:10px;color:#50004f;}
.section-copy{font-family:'Quicksand', sans-serif;font-size:1.15em;line-height:24px;color:#1e1e1e;}
.script{font-family:'Great Vibes', cursive;font-size:2em;color:#1e1e1e;padding:30px 0 0 0;margin:0px;}
.playfair{font-family:'Playfair Display', sans-serif;}
.script-header{position:relative;font-family:'Great Vibes', cursive;font-size:2em;color:#1e1e1e;padding:40px 0 20px 0;}
.script-header:after{z-index:2;position:absolute;height:1px;content:" ";display:block;width:100%;border-top:1px solid #1e1e1e;top:50%;margin-top:6px;}
.script-header p{position:relative;display:inline-block;padding:0px 20px;background:#ffffff;z-index:3;}
.loveline{list-style:none;margin-top:40px;padding:0px 0 20px;position:relative;}
.loveline-list{padding:80px 80px 0px 80px;background:url("../img/loveline-bottom-arrow.png") no-repeat 50.1% 100%;}
.loveline:before{top:0;bottom:0;position:absolute;content:" ";width:1px;background-color:#d3d3d3;left:50%;margin-left:0px;}
.loveline > li{margin-bottom:20px;position:relative;}
.loveline > li:before,
.loveline > li:after{content:" ";display:table;}
.loveline > li:after{clear:both;}
.loveline > li:before,
.loveline > li:after{content:" ";display:table;}
.loveline > li:after{clear:both;}
.loveline > li > .loveline-panel{width:44%;float:left;background:#f3f3f3;border-radius:0px;padding:20px 40px;position:relative;text-align:right;}
.loveline > li > .loveline-panel.stroked{background:#ffffff;border:2px solid #f3f3f3;}
.loveline > li > .loveline-panel .date{font-family:'Playfair Display', sans-serif;font-size:1em;font-style:italic;color:#898989;position:absolute;top:-30px;right:0px;}
.loveline > li > .loveline-panel:before{width:28px;height:17px;position:absolute;top:34px;right:-19px;display:inline-block;content:" ";background-image:url("../img/loveline-arrow.png");}
.loveline > li > .loveline-panel.stroked:before{background-image:url("../img/loveline-arrow-white.png");}
.loveline > li > .loveline-oval-badge{color:#fff;background-color:#50004f;font-family:'Quicksand', sans-serif;font-weight:700;width:66px;height:28px;line-height:28px;font-size:1em;text-align:center;position:absolute;top:-33px;left:50%;margin-left:-33px;border-radius:20px;z-index:100;}
.loveline > li:first-child > .loveline-oval-badge{top:-80px;}
.loveline > li > .loveline-badge{color:#fff;width:18px;height:30px;line-height:26px;font-size:1.4em;text-align:center;position:absolute;top:28px;left:50%;margin-left:-8px;background-color:#ffffff;z-index:100;}
.loveline > li.loveline-inverted > .loveline-panel{text-align:left;float:right;}
.loveline > li.loveline-inverted > .loveline-panel .date{position:absolute;left:0px;}
.loveline > li.loveline-inverted > .loveline-panel:before{left:-19px;right:auto;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.loveline > li.loveline-inverted > .loveline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto;}
.loveline-title{font-family:'Playfair Display', sans-serif;font-size:2em;color:#50004f;}
.loveline-body > p{font-family:'Quicksand', sans-serif;font-size:1em;color:#656565;}
.stepwizard{position:relative;margin-top:40px;padding-bottom:10px;}
.stepwizard:before{top:14px;bottom:0;left:12%;position:absolute;content:" ";width:75%;height:1px;background-color:#ccc;}
.stepwizard-step{text-align:center;font-family:'Quicksand', sans-serif;font-weight:700;font-size:1.1em;letter-spacing:4px;color:#50004f;}
.stepwizard-step .img-holder{display:inline-block;height:46px;margin:0 auto;background:#efefef;padding:2px;}
.stepwizard .img-holder.rings{padding:2px 6px;}
.stepwizard .img-holder.glasses{padding:2px 2px 2px 6px;}
.stepwizard .img-holder.plate{}
.stepwizard .img-holder.stars{padding:2px 6px;}
.stepwizard-step p{margin-top:40px;margin-bottom:0px;}
.stepwizard-step p:before{width:17px;height:27px;position:absolute;top:36%;right:50%;margin-right:-8px;display:inline-block;content:" ";background-image:url("../img/stepwizard-arrow.jpg");}
.stepwizard-step span{font-family:'Playfair Display', sans-serif;font-size:1em;font-style:italic;letter-spacing:2px;color:#898989;}
.thumb-nail{margin-bottom:40px;}
.thumb-nail img{width:100%;}
.thumb-nail .content{padding:20px 14px;color:#1e1e1e;border:10px solid #efefef;font-family:'Quicksand', sans-serif;font-size:1em;}
.thumb-nail .header{font-family:'Playfair Display', sans-serif;font-size:2em;color:#50004f;margin:0px;}
.thumb-nail .title{font-family:'Quicksand', sans-serif;font-size:1.1em;letter-spacing:2px;margin-bottom:20px;text-transform:uppercase;}
.bonus-holder{font-family:'Quicksand', sans-serif;padding:15px;border:2px solid #f8f8f8;}
#registry .section-header{margin-bottom:40px;}
#registry .thumb-nail .content{background-color:#ffffff;border:10px solid #f8f8f8;}
#registry a{word-wrap:break-word;}
@media (max-width:767px){ul.loveline-list{padding:80px 0 0 0;background:url("../img/loveline-bottom-arrow.png") no-repeat 32px 100%;}
ul.loveline:before{left:40px;}
ul.loveline > li{margin-bottom:60px;position:relative;}
ul.loveline > li > .loveline-panel{width:calc(100% - 90px);width:-moz-calc(100% - 90px);width:-webkit-calc(100% - 90px);}
ul.loveline > li > .loveline-panel .date{left:0px;}
.loveline > li > .loveline-oval-badge{top:-33px;left:8px;margin-left:0px;}
.loveline > li:first-child > .loveline-oval-badge{top:-80px;}
ul.loveline > li > .loveline-badge{left:32px;margin-left:0;top:28px;}
ul.loveline > li > .loveline-panel{text-align:left;float:right;}
ul.loveline > li > .loveline-panel:before{left:-19px;right:auto;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
}
